.navbar__img {
	scale: 0.9;
}
.navbar__btn {
	background-color: #5221e6;
	color: #ffff;
	outline: none;
	border: none;
	padding: 32px 24px;
}
.navbar__text {
	font-size: 17px;
	color: rgba(255, 255, 255, 0.5);
}
