.footer-container {
	background-color: #181823;
}
.footer {
	padding: 40px 0;
}
.footer h3 {
	font-size: 16px;
	margin-bottom: 20px;
}
.footer h4 {
	font-weight: normal;
	font-size: 16px;
	color: rgba(255, 255, 255, 0.8);
	margin-bottom: 30px;
}
.footer .resources .btn1 {
	border: 1px solid rgba(255, 255, 255, 0.2);
	background-color: rgba(82, 33, 230, 0.5);
	font-size: 16px;
	color: #ffff;
	width: 100%;
	border-radius: 50px;
	margin-bottom: 20px;
}
.footer .resources .btn2 {
	width: 100%;
	border: 1px solid rgba(255, 255, 255, 0.2);
	background-color: rgba(70, 70, 70, 0.5);
	border-radius: 50px;
	font-size: 16px;
	color: white;
}

.footer .subscribe > p {
	font-size: 20px;
	margin-top: 15px;
	color: #968c8c;
}
.footer .subscribe .input-form h3 {
	font-weight: bold;
	font-size: 16px;
}

.footer .footer-copyright {
	padding-top: 20px;
}

.copyright-text {
	font-size: 16px;
	color: #8491a0;
}
.social-handle-item {
	scale: 1.6;
	margin-right: 13px;
}
.twitter {
	color: #26a7de;
}
.social-handles .dribble {
	color: #e94b88;
}
.social-handles {
	text-align: end;
}
.social-handles .linkedIn {
	color: #0077b5;
}
#email {
	background-color: transparent;
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.15);
	padding: 10px 20px;
	color: #fff;
}
#email::placeholder {
	font-size: 14px;
	font-weight: bold;
	color: #fff;
}
.subscribe .input-form .email-form {
	position: relative;
}
.subscribe .input-form .email-form .get-access {
	position: absolute;
	top: 5px;
	right: 10px;
	background-color: #5221e6;
	color: #fff;
	font-size: 13px;
	border-radius: 15px;
}

/* Media queries */
@media screen and (max-width: 576px) {
	.social-handles {
		text-align: start;
		padding-top: 10px;
	}
}
