.benefits {
	color: #ffff;
	padding: 90px 0 30px 0;
}
.benefits-top .btn1 {
	color: rgb(0, 0, 0);
	background-color: #fdfdfd;
	border-radius: 10px;
	font-size: 16px;
	font-weight: bold;
}
.benefits-top .btn2 {
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	background-color: rgba(82, 33, 230, 0.5);
	border-radius: 50px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	padding: 10px 20px;
	margin-bottom: 70px;
}
.benefits-top > h3 {
	font-size: 48px;
	margin: 20px auto;
	width: 90%;
}
.benefits-top > h3 p:first-child {
	font-style: italic;
	display: block;
}
.benefits-top > p {
	font-size: 24px;
	text-align: center;
	width: 90%;
	margin: 20px auto;
}

/* Media queries */
@media screen and (max-width: 992px) {
	.benefits-top > h3 {
		font-size: 37px;
	}
	.benefits-top > p {
		font-size: 17px;
	}
}
@media screen and (max-width: 576px) {
	.benefits-top > h3 {
		font-size: 30px;
	}
	.benefits-top > p {
		font-size: 13px;
	}
}
